.storyContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.75rem;
  width: 99%;
  padding: 1.15rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 0.5rem;
  color: var(--greyText);
}

.title {
  font-size: 1.15rem;
  font-weight: 500;
}

.title a {
  color: var(--black);
  text-decoration: none;
}

.title:hover {
  cursor: pointer;
  text-decoration: underline;
}

.description {
  font-size: 0.95rem;
}

.metaData {
  display: flex;
  gap: 0.5rem;
  font-size: 0.75rem;
  font-weight: 400;
}
