.footerContainer {
  grid-row: 3;
  padding: 2rem 0;
  background-color: var(--primaryColor);
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
}
